<button
  *ngIf="!isLoggedIn; else loggedInBlock"
  mat-raised-button
  class="join-btn"
  (click)="login()"
>
  Create photos
</button>

<ng-template #loggedInBlock>
  <button
    [matMenuTriggerFor]="notificationsMenu"
    mat-icon-button
    class="icon-btn icon-btn--notify"
    [matBadge]="displayUnreadCount"
    [matBadgeHidden]="notifications.unreadCount() === 0"
    matBadgeColor="warn"
    aria-label="Notifications"
  >
    <mat-icon>notifications</mat-icon>
  </button>

  <mat-menu #notificationsMenu="matMenu" class="header-menu header-menu--notifications">
    <div class="menu-head">
      <div class="menu-head-copy">
        <strong>Notifications</strong>
        <span>{{ notifications.unreadCount() }} unread</span>
      </div>

      <button
        type="button"
        class="menu-head-action"
        (click)="$event.stopPropagation(); notifications.markAllAsRead()"
      >
        Mark all
      </button>
    </div>

    <button
      mat-menu-item
      class="notification-item"
      *ngFor="let item of notificationItems"
      (click)="openNotification(item)"
    >
      <div class="notify-row">
        <div class="notify-icon" [class.unread]="item.unread">
          <mat-icon>{{ item.icon }}</mat-icon>
        </div>

        <div class="notify-copy">
          <strong>{{ item.title }}</strong>
          <span>{{ item.message }}</span>
          <small>{{ item.time }}</small>
        </div>
      </div>
    </button>

    <button
      mat-menu-item
      class="view-all"
      [routerLink]="'/app/notifications'"
    >
      View all notifications
    </button>
  </mat-menu>

  <button
    [matMenuTriggerFor]="profile"
    mat-icon-button
    class="profile-btn"
    aria-label="Account menu"
  >
    <img
      [src]="user.avatar"
      alt="user"
      class="profile-pic"
    />
  </button>

  <mat-menu #profile="matMenu" class="header-menu">
    <div class="profile-head">
      <img [src]="user.avatar" alt="avatar" class="profile-pic profile-pic--large" />
      <div class="profile-meta">
        <strong>{{ user.name }}</strong>
        <span>{{ user.plan }} plan</span>
      </div>
    </div>

    <button mat-menu-item [routerLink]="'/app/account'">
      <mat-icon>account_box</mat-icon>
      Profile
    </button>

    <button mat-menu-item [routerLink]="'/app/settings'">
      <mat-icon>settings</mat-icon>
      Settings
    </button>

    <button mat-menu-item [routerLink]="'/app/billing'">
      <mat-icon>credit_card</mat-icon>
      Billing
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
  </mat-menu>
</ng-template>
